<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../dist/css/cssLoading/cssLoading.css">
</head>
<body>
  <div class="loading">
    <div class="loading-wrapper"></div>
    <div class="loading-inner">
      <div class="loading-left">
        <div class="loading-circle"></div>
      </div>
      <div class="loading-right">
        <div class="loading-circle"></div>
      </div>
    </div>
  </div>
</body>
</html>
